/* main{ 
    background-image: url(/gettyimages-1280728484-594x594.jpg);

    background-repeat: no-repeat;
    width: 800px;
} */
/* .box{
    border-top: 1px solid red;
    border-left: 1px solid red;
    width: 500px;
    height: 400px;
    } */
.box{
    border-top:50px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    width: 0px;
    height: 0px;
    } 
    
.box{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    /* border-radius: 100% ; */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: brown;
margin-top: 200px;
    } 

    