@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
html,body{
    margin: 0%;
    padding: 0%;
}


.header{
    background-color: black;
    width: 100%;
    height: 60px;
justify-content: space-between ;
align-items: center;
display: flex;
}
.fa-solid{
    position: fixed;
}
.text{
    color: white;
}
.search{
    color: white;
}
.thebody{
    background-color:#484848;
    width: 1600px;
    height: 1000px;
}
.whitepage{border: 2px solid black;
    background-color: white;
    width:1500px ;
    height: 100px;
    margin-left: 3%;
    border: 10px;

    
}
