@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css);
/* ul,li{
    /* list-style:lower-alpha;
    list-style-image: url(../gettyimages-1280728484-594x594.jpg); */


/* } */
/* table,tr,td,th{
    border: 3px solid red;
    border-collapse: collapse;
    text-align: center;
}
table{
    width:100%
}
.lorem{
    

}
p{
    display: inline;
    color: blue;
    background-color:red;
}
span{
    display: inline-block;
    background-color: red;
    width: 300px;
    height: 300px;
    margin-bottom: 10%;
} */
